html, body {
  margin: 0;
  height: 100%;
  font-family: 'VT323', monospace;
  background: linear-gradient(to top, #c471f5 0%, #aa11cd 100%);
}

.main-ctx
{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grid
{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 360px;
}

.grid-item {
  background-color: black;
}
